body {
    background-color: #1D1D1E;
}

h1 {
    color: #435A7C;
}

img {
    border-radius: 10px;
}


.album-container {

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}


.parrafo {
    color: #494B4E;
    font-size: 20px;

}

.logo {
    margin-top: 40px;
}

.album {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 25px 10px;

}

.titulo-album {
    margin-bottom: 10px;
    padding: 3px;
    text-align: center;
    background: #182265;
    color: #ffff;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}