body{
  background-color: #1D1D1E;
}

.cabecera{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #20D191;
    font-size: 35px;
}




.album-container {

    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.parrafo {
    color: #ccc;
    font-size: 20px;
}

.año-banda{
   
    color: #ccc;

}

.logo {
    margin-top: 40px;
}

.album {
    width: 200px;
    height: 200px;
    margin: 25px 10px;
}

.titulo-album {

    text-align: center;
    background: #182265;
    color: #ffff;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}